body {
  background: linear-gradient(80deg, #e6e6fa, #faf0e6, #e6fafa);
  font-family: "Sunflower", serif;
  font-weight: 500;
  margin: 0 auto;
  max-width: 80em;
  padding: 0 110px;
}

a {
  text-decoration: none;
  color: #fa8072;
}

header, nav{
  position: fixed;
}

header {
  flex-wrap:wrap;
}

nav {
  font-size: 25px;
  font-weight: bolder;
  /* background-color: black; */
  color: pink;
  text-align: right;
  right: 0;
  margin: 0;
  padding-right: 10px;
  z-index: 1;
}

nav a {
  padding-right: 0.5em;
  opacity: 0.45;
}

nav a:hover {
  opacity: 1;
}

.links {
  display:flex;
  padding-top: 0.5em;
  font-size: 2.2em;
}

.sidebar {
  top: 20%;
}
.sidebar li {
  margin: 1.1em 0;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
      align-items: center;
  flex-wrap: nowrap;
}

/* Header styles */
.label, .project {
  position:relative;
}
.label {
  color: #fa8072;
  pointer-events: none;
  padding-bottom: 10px;
  font-size: 45px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: nowrap;
}

#intro:hover h1.label span{
  display: none;
}

#intro:hover h1.label a:after {
  content: "It is so nice meeting you";
}

.profile-image img{
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

#intro .fa-ul {
  /* font-weight: 600; */
}

#about.section p {
  overflow: auto;
}

#where.section {
  justify-content: space-around;
}

h2 {
  font-size: 38px;
  text-align: right;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
  margin: auto;
  padding-bottom: 5px;
}

h5 {
  font-size: 18px;
}

/* page elements */
p, ul,ol {
  font-size: 25px;
  list-style-type: none;
  line-height: 130%;
  word-break: break-word;
}

li {
  margin: 0.5em 0;
}

.image {
  max-width:  70%;
  max-height: 70%;
  margin: 0 auto;
  opacity: 0.75;
  border-radius: 15%;
  /* filter: invert(0.25); */
  /* filter: grayscale(0.6); */
  /* filter: brightness(1.35); */
  /* filter: contrast(2);  */
  /* filter: sepia(.2); */
  filter: saturate(3.5);
}
#Projects, .image, footer {
  display: flex;
}
#projects {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.project {
    height: 200px;
    width:  200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project img, .project-item img {
  max-width:  100%;
  max-height: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:  100%;
  background-color: rgba(255, 255, 255, 0);
  color: transparent;
  transition: 1s;
}

.project-label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.project:hover .project-overlay {
  background-color: rgba(255, 255, 255, .8);
  color: #000000;
  cursor: pointer;
}

.project-item {
  display: flex;
  flex-flow: column;
}

.project-item button {
  color: #fa8072;
  border-radius: 15%;
  padding:    1em;
  font-size:  1em;
  line-height: .1em;
  align-self: baseline;
}
.project-item img {
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
  /* width: 350px;
  height: 350px; */
  padding-top:    1em;
  padding-bottom: 1em;
  align-self: center;
  flex-flow: column;
}
/* adjusting size as maze.gif is bigger than
music_editor.gif*/
.maze-image {
  max-width:  55%;
  max-height: 55%;
}

.project-item p {
  font-size: 20px;
  margin: auto;
}

.project-item h4 {
  padding:0;
}

.project-item .small-text-block {
  text-align: right;
  font-style: oblique;
}

/* Typography */
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.caption, footer {
  text-align: center;
}

.caption {
    /* background: linear-gradient(35deg, #ccffff, #ffcccc, rgb(204, 204, 255)); */
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  opacity: 0.3;
}
.caption:hover, footer:hover {
  animation-fill-mode: forwards;
}
.caption:hover {
  animation-name: emerge;
  animation-duration: 3s;
}
  @keyframes emerge {
  100% {
    opacity: 1;
  }
}

footer {
  font-size: 26px;
  /* font-family: "East Sea Dokdo", cursive; */
  /* height: 100px; */
  justify-content: center;
}
footer:hover {
  animation-name: fade;
  animation-duration: 4s;
}

@Keyframes fade {
  50% {
    /* left: 80%; */
    opacity: 0.15;
  }
  100% {
    opacity: 0.02
  }
}

@Keyframes fade2 {
  0%, 100% {
    left: 96%;
  }
  50% {
    left: 86%;
    transform: scale(1.15);
    opacity: 0.1;
  }
}


@media(max-width:700px) {

  body {
    padding: 0 30px;
  }
  .label {
    font-size: 35px;
  }
  .links {
    font-size: 1.8em;
  }
  .sidebar ul {
    font-size: 16px;
  }

  .section {
    padding: 22px;
  }
  .section p {
    font-size: 20px;
  }

  .intro-texts .fa-ul li {
    font-size: 80%;
  }
  #intro li{
    margin: 0.3em 0;
  }

  #projects {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .profile-image img {
    width:  200px;
    height: 200px;
  }

  .maze-image {
    max-width:  80%;
    max-height: 80%;
  }
  .project-item p {
    font-size: 15px;
  }

  .project-item button {
    padding:    0.8em;
    font-size:  0.8em;
    line-height: .08em;
  }
  .caption {
    flex-direction: row;
    margin:   0;
    padding:  0;
    top: 10%;
    width: 100%;
  }

  #where.section {
    display:block;
  }
  #where h3 {
    font-size: 18px;
    align-self: center;
  }
  #where li {
    font-size: 18px;
    margin: .2em 0;
  }

  footer h3 {
    font-size: 0.8em;
  }

}
